
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body style="background-image: url('https://us.123rf.com/450wm/apostrophe/apostrophe1303/apostrophe130300064/18622074-fondo-morado.jpg?ver=6');">
    <script languague="javascript">
        function Calcular() {
            div = document.getElementById('Calcular');
            div.style.display = '';
        }
    </script>
    <!-- Button trigger modal -->
    <div class="row justify-content-end">
        <button type="button" class="btn btn-primary aling-right" data-toggle="modal" data-target="#exampleModal">
            Login
        </button>
    </div>
    <!--login-->
   


    <!---simulador contenedor de este-->

    <div class="container rounded-lg mt-5 ">
        <div class="row ">
            <div class="col">
                <div class="card shadow-lg rounded-lg mt-5  ">
                    <div class="text-center ">
                        <h1 class="h4 text-gray-900 mt-2 text-black">Simulador</h1>
                    </div>

                    <div class="card-body text-dark">
                        <form class="form-control" style="background-color:#ffffff" action="SimuladorGeneral/SimuladorGeneral" method="post">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Monto de crédito</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Importe de Pago</label>
                            </div>
                            <br />
                            <h1 class="h4 text-gray-900 mb-4">Cantidad $ </h1>
                            <input type="text" name="cantidad" class="form-control" id="validationTooltip01" placeholder="cantidad" required>
                            <div class="inputDiv i1 mb-2"></div>

                            <h1 class="h4 text-gray-900 mb-4">Frecuencia</h1>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option selected>Elije...</option>
                                <option value="1">Quincenal</option>
                                <option value="2">Mensual</option>
                            </select>
                            <input type="text" name="frecuencia" class="form-control" id="validationTooltip01" placeholder="periodicidad" required>

                            <h1 class="h4 text-gray-900 mb-4">Plazo (meses)</h1>

                            <div class="inputDiv i2"></div>

                            <input type="text" name="plazo" class="form-control" id="validationTooltip01" placeholder="periodicidad" required>
                            <button type="submit" name="enviar" class="btn btn-primary" id="Calcula" value="enviar">
                                Calcular
                            </button>
                        </form>



                        <script>
                            // EL INPUT
                            var elInput3 = document.querySelector('#input3');
                            if (elInput3) {
                                var w = parseInt(window.getComputedStyle(elInput3, null).getPropertyValue('width'));

                                // LA ETIQUETA
                                var etq = document.querySelector('.etiqueta');
                                if (etq) {
                                    // el valor de la etiqueta (el tooltip)
                                    etq.innerHTML = elInput3.value;

                                    // calcula la posición inicial de la etiqueta (el tooltip);
                                    var pxls = w / 100;

                                    etq.style.left = ((elInput3.value * pxls) - 15) + 'px';

                                    elInput3.addEventListener('input', function () {
                                        // cambia el valor de la etiqueta (el tooltip)
                                        etq.innerHTML = elInput3.value;
                                        // cambia la posición de la etiqueta (el tooltip)
                                        etq.style.left = ((elInput3.value * pxls) - 15) + 'px';

                                    }, false);
                                }
                            }
                            // codigo nuevo de segundo codigo de padres


                            var elementoPadre1 = document.querySelector(".inputDiv.i1");
                            var elementoPadre2 = document.querySelector(".inputDiv.i2");
                            var inputsRy = [];

                            function Input() {
                                //<input type="range" value="35" min="0" max="100" autocomplete="off" step="1">
                                this.att = {};
                                this.att.type = "range";
                                this.att.value = 6000;
                                this.att.min = 6000;
                                this.att.max = 100000;
                                this.att.autocomplete = "off";
                                this.att.step = "1000";
                                this.input;
                                this.output;

                                this.crear = function (elementoPadre) {
                                    // crea un nuevo elemento input
                                    this.input = document.createElement("input");
                                    //para cada propiedad del objeto att establece un nuevo atributo del elemento input
                                    for (var name in this.att) {
                                        if (this.att.hasOwnProperty(name)) {
                                            this.input.setAttribute(name, this.att[name]);
                                        }
                                    }
                                    // crea un nuevo elemento div
                                    this.output = document.createElement("div");
                                    // establece el valor del atributo class del nuevo div
                                    this.output.setAttribute("class", "output");
                                    // y el contenido (innerHTML) de este
                                    this.output.innerHTML = this.att.value;

                                    // inserta los dos elementos creados al final  del elemento Padre
                                    elementoPadre.appendChild(this.input);
                                    elementoPadre.appendChild(this.output);
                                }

                                this.actualizar = function () {
                                    this.output.innerHTML = this.input.value;
                                    this.att.value = this.input.value;
                                }
                            }

                            // setup
                            var i = new Input();
                            i.crear(elementoPadre1);
                            inputsRy.push(i);

                            var i2 = new Input();
                            i2.att.value = 6;
                            i2.att.min = 6;
                            i2.att.max = 45;
                            i2.att.step = 6;
                            i2.crear(elementoPadre2);
                            inputsRy.push(i2);

                            for (var n = 0; n < inputsRy.length; n++) {
                                (function (n) {
                                    inputsRy[n].input.addEventListener("input", function () {
                                        inputsRy[n].actualizar();
                                    }, false)
                                }(n));
                            }

                            /* Draw
                            function Draw(){
                             requestId = window.requestAnimationFrame(Draw);
                              for( var n = 0; n< inputsRy.length; n++){
                                inputsRy[n].update();
                              }
                            }

                            requestId = window.requestAnimationFrame(Draw);
                            */
                            // JavaScript Document
                            // With JQuery
                            $("#ex8").slider({
                                tooltip: 'always'
                            });



                        </script>
                        <br />
                    </div>
                    <br />
                </div>
                <br />

            </div>

        </div>
        <br />

        <!--fin de simulador-->
</body>
</html>



