@model SimuladorBackOffice.Models.SimuladorGeneral
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SimuladorGeneral</title>
</head>
<body>
    <div>
        <label>mi cantidad es: @Model.cantidad<br /></label>
        <label>mi plazo es: @Model.plazo<br /></label>
        <label>mi frecuencia es: @Model.frecuencia<br /></label>

    </div>
</body>
</html>
