<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimuladorBackOffice</title>

   
    <link href="~/open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">

    



    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-image: url('https://us.123rf.com/450wm/apostrophe/apostrophe1303/apostrophe130300064/18622074-fondo-morado.jpg?ver=6');">
    

    <header>
        <nav class="navbar navbar-expand-lg navbar-light shadow-lg" style="background-color:#29073D ">
            <a href="#!" class="brand-logo"><img src="http://aprecia.com.mx/wp-content/themes/Aprecia/images/aprecia-financiera-logo.png" class="img-responsive" width="120" alt="Aprecia Financiera"></a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Directorio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Reportes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Prospectos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Clientes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <p class="text-white">Nombre usuario</p>
                    <button type="button" class="btn-warning"
                            style="
       width: 60px;
    height: 60px;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 20px;
    line-height: 1.33;
  ">
                        <span class="oi oi-person " style="color:white; font-size: 35px;"></span>
                    </button>
                    <!-- <span class="oi oi-account-login " style="color:#FFC425; font-size: 35px;"></span>--->

                    </form>
                </div>
            </nav>
        </header>


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>




        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>
